@tailwind utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*@theme {*/
/*  --color-primary: #430C05;*/
/*  --color-secondary: #D46F4D;*/
/*  --color-accent: #FFBF66;*/
/*  --color-action: #08C5D1;*/
/*  --color-background: #00353F;*/

/*  --color-primaryLight: #5a1a12;*/
/*  --color-secondaryLight: #e8896b;*/
/*  --color-accentLight: #ffd699;*/
/*  --color-actionLight: #3ed6e0;*/
/*  --color-backgroundLight: #0a4a56;*/
/*}*/

@theme {
  --color-primary: #F38181;
  --color-secondary: #FCE38A;
  --color-accent: #EAFFD0;
  --color-action: #95E1D3;
  --color-background: #F5EFE6;

  --color-primaryLight: #F9A3A3;
  --color-secondaryLight: #FDECB3;
  --color-accentLight: #F4FFE6;
  --color-actionLight: #B8ECE3;
  --color-backgroundLight: #FBF7F1;

  --color-text: #2F3E3B;
  --color-text-muted: #2F3E3B;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rdp {
  --rdp-accent-color: #95E1D3 !important; /* bleu clair */
  --rdp-background-color: #95E1D3/70 !important; /* fond sélection */
  --rdp-padding: 2px !important;
  font-size: 14px;
}


@layer components {

  /* BUTTONS */
  .btn-primary {
    @apply bg-action text-text px-4 py-2.5 rounded-xl font-semibold
    hover:bg-actionLight transition-all duration-100 shadow-md hover:shadow-lg;
  }

  .btn-secondary {
    @apply bg-secondary text-text px-5 py-2.5 rounded-xl font-medium
    hover:bg-secondaryLight transition-all duration-100;
  }

  .btn-ghost {
    @apply border border-accent text-accent px-4 py-2 rounded-xl
    hover:bg-accent/10 transition;
  }

  /* CARD */
  .card {
    @apply bg-backgroundLight/60 backdrop-blur-lg
    border border-white/10 rounded-2xl shadow-lg;
  }

  .card-hover {
    @apply hover:scale-[1.02] hover:border-accent/40 hover:shadow-xl transition-all duration-300;
  }

  /* SEARCH BAR */
  .search-bar {
    @apply bg-backgroundLight text-text-muted
    px-5 py-3 rounded-2xl w-full
    outline-none border border-white/10
    focus:border-action focus:ring-2 focus:ring-action/40
    transition;
  }

  /* NAVBAR */
  .navbar {
    @apply bg-primary text-text-muted
    px-6 py-4 flex items-center justify-between
    shadow-md;
  }

  /* SECTION */
  .section {
    @apply bg-background text-text p-8;
  }

  .section-light {
    @apply bg-backgroundLight text-text p-8;
  }

  .header {
    @apply bg-backgroundLight/70 backdrop-blur-md px-6 z-50 w-full flex justify-between items-center p-1
  }

  /* TAG */
  .tag {
    @apply bg-accent/20 text-text-muted px-3 py-1 rounded-full text-sm;
  }

  /* INPUT */
  .input {
    @apply bg-backgroundLight text-text px-4 py-2 rounded-xl
    border border-white/10
    focus:ring-2 focus:ring-action focus:outline-none;
  }

  /* TITRES */

  .title-xl {
    @apply text-4xl font-bold text-primary tracking-tight;
  }

  .title-lg {
    @apply text-2xl font-semibold text-primary;
  }

  .title-md {
    @apply text-lg font-semibold text-primary;
  }

  /* TEXTE NORMAL */
  .text-base {
    @apply text-text leading-relaxed;
  }

  .text-muted {
    @apply text-text-muted;
  }

  .text-small {
    @apply text-sm text-text;
  }
  /* TEXTE IMPORTANT */
  .text-price {
    @apply text-secondary font-bold text-lg;
  }

  .text-highlight {
    @apply text-action font-semibold;
  }

  /* LIENS */
  .link {
    @apply text-action hover:text-actionLight underline underline-offset-4 transition;
  }

}